.home {
    background-color: #f1f1f1;
    width: 99vw;
    height: 72vh;
}

.home-img {
    width: 300px;
    border-radius: 300px;
}

.skills {
    height: 18vh;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
}

.skills img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.loader-skills{
    width: 150px;
    height: 150px;
    border-radius: 150px;
}

.projects {
    background-color: #f1f1f1;
    max-width: 100vw;
    padding: 30px;
}

.project-img {
    width: 100%;
}

.experiences {
    padding: 30px;
}

.card{
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.05);
}

.float-right{
    float: right;
}

.fs-30 {
    font-size: 30px;
}

.fs-30:hover {
    color: #084298;
}

.typed-cursor,
#element {
    font-size: 30px;
}

.loader-project-image{
    height: 390px;
    width: 100%;
}
