.home{    
    background-color: #f1f1f1;
    width: 99vw;
    height: 70vh;
}

.home-img{
    width: 300px;
}

.skills{
    height: 18vh;
    list-style: none;
    padding: 10px;
    flex-wrap: wrap;
}

.skills img{
    width: 150px;
    height: 150px;
    object-fit: contain;    
}

.projects{
    background-color: #f1f1f1;
    max-width: 100vw;
    padding: 30px;
}
.project-img{
    width: 100%;
}