<title>Personel App | Login Page</title>
<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h1>Sign In Form</h1>
                <p>Please fill your information to sign in</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="userName">User Name</label>
                    <input type="text" class="form-control" id="userName">
                </div>                
            </div>
            <div class="card-header">
                <button class="btn btn-primary w-100">Sign In</button>
            </div>
        </div>
    </div>
</div>