<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/logo.png" width="50" alt="" style="border-radius: 50px; border: 1px solid white;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/">                        
                        Ana Sayfa
                    </a>
                </li>
                @if(auth.hasAuthenticated){
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/orders">
                            <i class="fa-solid fa-file me-1"></i>
                            Siparişlerim
                        </a>
                    </li>
                }                
            </ul>
            <div class="d-flex align-items-center" style="gap: 5px;" role="search">
                @if(auth.hasAuthenticated){
                    <span class="text-light">Hoşgeldiniz {{auth.decode.Name}}</span>
                    <button class="btn btn-outline-light position-relative" routerLink="/shopping-carts">
                        <i class="fa-solid fa-cart-shopping me-1"></i>
                        Sepet
                        @if(cart.carts.length > 0){
                            <span class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">
                                <span>{{calculateShoppingCartsQuantity()}}</span>
                            </span>
                        }                        
                    </button>
                    <button (click)="logout()" class="btn btn-outline-light ms-1">
                        <i class="fa-solid fa-power-off"></i>
                        Çıkış
                    </button>
                }@else {
                    <button class="btn btn-outline-light ms-1" routerLink="/login">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Giriş
                    </button>
                }
            </div>
        </div>
    </div>
</nav>