.card{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
}

.form-control{
    width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}