<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">e-School</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">
                <i class="fa fa-home"></i>
            </a>
          </li> 
        </ul>
        <button class="btn btn-outline-danger" routerLink="/login">
            <i class="fa fa-power-off"></i>
        </button>
      </div>
    </div>
  </nav>
<hr>
<router-outlet></router-outlet>