@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.container{
    padding: 0 50px;
}

.card{
    text-align: center;
}

.mt-3{
    margin-top: 15px;
}

.mb-1{
    margin-bottom: 5px;
}

.ms-1{
    margin-left: 5px;
}

.me-1{
    margin-right: 5px;
}

.p-tag{
    margin-bottom: 15px;
}